.logged_in{
	margin-top:50px;
}
@media (max-width: 767px) {

	.logged_in{
	margin-top:0px;

}

}
.user_img_toolbar img{width:40px;height:40px;}

.cms_toolbar{
	height:50px;
	width:100%;
	position:fixed;
	top:0px;
	background: url('../img/black_linen_v2.png');
	display:block;
	z-index:1021;
	box-shadow:0px 2px 12px #111;
	line-height:50px;
	color:#fff;
	font-family:verdana!important;
	padding-left:20px;
}
.cms_toolbar a{
	color:#fff!important;
	text-shadow:1px 1px 1px #111;
}
.cms_toolbar_options_quit{
	top:0px;
	right:35px;
	position:absolute;

}
.cms_toolbar_options_quit li, .cms_toolbar_options li{
	box-shadow:1px 1px 1px #111,2px 2px 1px #111,3px 3px 1px #111;

}

.cms_toolbar_options_quit li:hover{

	border-radius:4px;
	background:#ab2a2c;
	-webkit-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -ms-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -o-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
	}
.cms_toolbar_options, .cms_toolbar_options_quit, .add_block a{font-family:'Quantico',verdana!important;}
.cms_toolbar_options li, .cms_toolbar_options_quit li{
	list-style: none;
	display: inline;
	line-height:50px;
	margin:0 10px;
	padding:4px 8px;
	border-radius:4px;
	font-size:11px;
	text-transform: uppercase;
}
.cms_toolbar_options li{
	background:#333;
}
.cms_toolbar_options li a{
	color:#8CC63F!important;
}
.cms_toolbar_options_quit li a{
	color:#ab2a2c!important;
}
.cms_toolbar_options li:hover a, .cms_toolbar_options_quit li:hover a{
	color:#fff!important;
}
.cms_toolbar_options_quit li{
	background:#333;
}
.cms_toolbar_options li:hover{
	background:#8CC63F;
	
	-webkit-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
   -moz-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -ms-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -o-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
}
.cms_toolbar_options li:active, .cms_toolbar_options_quit li:active{
	box-shadow:inset 1px 1px 1px #111 !important;
	
}
.block_wrapper_overlay{
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	background:rgba(1,1,1,0.35);
	z-index:400;
	cursor:pointer;
	min-height:20px;

}.block_wrapper:hover .block_wrapper_overlay{
	display:block!important;

}
.add_block{
	display:block;
	position:relative;
	clear:both;
	border-top:1px dashed #fff;width:100%;
	max-height:30px;
	line-height:30px!important;
	text-align: center;
	z-index:1000;
	border:1px dashed #8CC63F;
	color:#8CC63F!important;
	text-shadow:1px 1px 1px #111!important;
	font-family:verdana!important;
	font-size:12px;
}
.filemanager img:hover{cursor:move;}

.edit_block{
	width:100%;
	display:block;

	position:relative;
	min-height:20px;
	border:1px dashed #8CC63F;
	
	
}

.edit_block .dropdown-toggle{
	background:rgba(255,255,255,0.8);
	font-family:verdana!important;
}
.add_block:hover, .edit_block:hover{
	background:rgba(1,1,1,0.35)!important;
	border:1px dashed #8CC63F;

}
.edit_options{
	position:absolute;
	left:5px;
	color:#111;
	top:0;
	z-index:1020;
	display:none;
	font-family:verdana!important;
	
}
.block_wrapper:hover .edit_options{
	display:block;
}
.dropdown-menu li a{
	z-index:1020!important;
}
.modal{
	width:90%!important;
	left:5%!important;
	margin:0!important;
	top:15%!important;
	min-height:70%!important;
	z-index:1040!important;
	font-family:verdana!important;
	text-align: left;
	text-shadow:none!important;
	color:#111!important;
	font-size:12px;
}
.image_submit{
	color:#8CC63F!important;
}
iframe{
	width:100%;
	height:100%;
	min-height:500px;
	border:0px;
}
.area_wrapper{
	border:2px dashed #111;width:100%;
	display:block;
}
.blocks_title{
	text-align: left!important;
	color:#111;
}
#myTab li{
	position:relative;
	margin:0px 5px;
}
#myTab li a{
	color:#111;
	text-shadow:1px 1px 1px #fff;
	border-radius:5px;
	border:none;
}
#myTab li.active a, #myTab li a:hover{
	color:#fff;
	text-shadow:1px 1px 1px #111!important;
	border:none;
	background:#8CC63F!important;
	border-radius:5px;
}
iframe{
	border:none;
	position:relative;
	left:1%;
	width:98%;
}
.holder{
	width:75px;
	height:75px;
	border:4px solid #dedede;
	box-shadow: 1px 1px 2px #dedede;
	display: block;
	position:relative;
	background:#dedede;
	top:25px;
}
.image_submit{
	position:relative;
	top:35px;
}
.image_block_textarea{
	positon:relative;
	width:80%!important;
	height:150px!important;
}
.add_block a{
	text-shadow:1px 1px 1px #111!important;
}
.buttons-content{
	position:absolute;
	bottom:120px;
	right:5px;
	width:250px;
}
.bt-max{
	width:180px;
}
.move_blocks{
	color:#111!important;
}
.move_blocks li{
	display:list-item!important;
	text-align: left;
	list-style: none;
	margin:5px;
	position:relative;
	border:1px dashed #8CC63F;
}
.dropdown-menu{
	z-index:2000!important;
	font-family:verdana!important;
	text-shadow:none!important;
	font-size:12px!important;
	

}
.dropdown-menu a{
	color:#111!important;
}
.modal-backdrop{
	z-index:1020;
}
#media-selector{
	top:70px;
	left:5%;
	position:fixed;
}
#imageblockimages, .imageblockimages{
	z-index:9999!important;
}
.user_img_toolbar{
	position:fixed;
	right:140px;
	top:-2px;
}
.user_img_toolbar span{
	position:fixed;
	top:12px;
	font-size:10px;
	text-shadow:1px 1px 1px #111;
	line-height:14px;
	right:190px;
}
.user_img_toolbar img{
	border:1px solid #fff;
	box-shadow:0px 0px 2px #111;
	border-radius:4px;
}
.luso_icon{
	position:fixed;left:10px;
	top:10px;
	background:rgba(1,1,1,0.35);
	border-radius:4px;
	padding:5px;
	box-shadow:inset -1px -1px 1px #111!important;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #8CC63F!important;
  background-color: #8CC63F!important;
  background-image: -moz-linear-gradient(top, #8CC63F, #8CC63F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8CC63F), to(#8CC63F));
  background-image: -webkit-linear-gradient(top, #8CC63F, #8CC63F);
  background-image: -o-linear-gradient(top, #8CC63F, #8CC63F);
  background-image: linear-gradient(to bottom, #8CC63F, #8CC63F);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#8CC63F', endColorstr='#8CC63F', GradientType=0);
  }
  #myTab{
  	position:fixed;
  	width:3000px;
  	top:0px;
  	left:0px;
  	background: #fff;
  	padding:5px 0px;
  }
  
  .open > .dropdown-menu {
    display: block;
    position:absolute;
    left:45%;
    top:0%;
}
.formblock input[type=text], .formblock input[type=email] {
  border-radius:4px;
  border:none;
  padding:4px;
  color:#111111;
  text-shadow:1px 1px 1px #ffffff;
}
.formblock input[type=checkbox] {
  position:relative;
  top:-2px;
}
.formblock textarea {
  border-radius:4px;
  border:none;
  padding:4px;
  color:#111111;
  text-shadow:1px 1px 1px #ffffff;
  width:500px;
  height:200px;
}
.alert-error, .alert-info {
  position:fixed !important;
  top:8%;
  right:1%;
  width:200px;
}

#images, #imageblockimages {
  display:none;
  width:100%;
  height:200px;
  background:#ffffff;
  bottom:0px;
  position:fixed;
  left:0px;
  overflow:auto;
}
#images li, #imageblockimages li {
  display:inline-block;
  margin:10px;
}
#images img, #imageblockimages img {
  width:75px;
  height:75px;
  border:2px solid #ffffff;
  box-shadow:1px 1px 2px #494949;
}
#images span, #imageblockimages span { display:none; }
#close_image_manager, #imageblock_close_image_manager {
  position:absolute;
  right:5px;
  top:5px;
}
.alert {
  width:400px !important;
  opacity:0.98;
}
.add_block a { text-shadow:1px 1px 1px #111111 !important; }
.user_img_toolbar img{border-radius:50px;border: 2px solid #fff;}
.modal-header h3, .modal-header h4{
	background:#8CC63F;
	padding:8px;
	border-radius:5px;
	font-size: 12px;
	color:#fff;
	text-shadow:1px 1px 1px #111;
	text-transform: uppercase;;

}
.modal-header .close{
	color:#111;
	font-size:42px!important;
	position:relative;
	top:9px;
	right:3px;
}
.dropdown-menu {
    background-clip: padding-box;
    background: url('../img/black_linen_v2.png');
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px;
    position: absolute;
    top: 100%;
    z-index: 1000;
    border:3px solid rgba(255,255,255,0.98);
    -webkit-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -ms-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -o-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    opacity:0.9;
}
.dropdown-menu:hover{
	-webkit-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -ms-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -o-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
	opacity:1;
}
.dropdown-menu li a{ 
	border-radius: 3px; 
	background-color: #333;
	margin:3px 0px;
	color:#fff!important;
	text-shadow:1px 1px 1px #111;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
	font-size:12px!important;
}
.dropdown-menu li i{background-color:#4b4b4b;border-radius:5px;box-shadow:0px 0px 2px rgba(0, 0, 0, 0.8);}

.modal label span{
	text-transform: uppercase;
	text-shadow:1px 1px 0px #fff;
	background:#d5d5d5;
	padding:4px 8px;
	width:60%!important;
	font-size:12px;
	color:#111;
	margin:5px;
	border-radius:4px;
	box-shadow:inset -1px -1px 1px #fff;
}
.edit_options_toggle{
	position:absolute;
	display: block;
}
#images, #imageblockimages{
	border:3px solid #111;
	background: url('../img/black_linen_v2.png');
	box-shadow:0px -3px 5px #111;
	z-index:10000;
}


#images img, , #imageblockimages img{
	box-shadow:0px 0px 15px #111;
}


#images img:hover, #imageblockimages img:hover{
	box-shadow:0px 0px 10px #fff;
}

.preloader{
	position:fixed;
	background: url('../img/black_linen_v2.png');
	width:100%;
	height:100%;
	left:0px;
	display:none;
	z-index:20000;


}
.preloader img{
	position:absolute;
	left:45%;
	top:45%;
	width:48px;
	height:48px;
}




